c { color: green; font-weight:bold; }
s { color: red }
r { color: red }
h { color: blue; font-weight: bold;}
span.foot {position:absolute; top: 700px; right: 1em; font-size: 50%; color: grey}
img.e { width: 40px;}
.reveal a { color: black}

span.tweet {
    font-family: 'Helvetica Neue', Helvetica, Arial ;
    font-size: 120%;
}

span.tweet > span.name {
    font-weight: bold;
    display:block;
    padding-top:20px;
}

span.tweet > span.username {
    font-size: 80%;
    display:block;
    margin-bottom: 40px;
    color: #0084B4 !important;
}

span.tweet > span.content {
    margin-top: 40px;
    padding-top: 40px;
}
span.tweet > span.content > span.highlight {
    color: #0084B4
}
span.tweet > img {
    float: left;
    height: 100px;
    padding: 20px;
    padding-left: 0;
    margin:0;
}
.has-dark-background h1, .has-dark-background h2, .has-dark-background h3, .has-dark-background pre { color: #fff !important }
