---
layout: page 
---

  <div class="section">
    <div class="container">
      <h2>Talk history</h2>
      <h4>🇦🇺 🇳🇿 🇭🇺 🇺🇸 🇬🇧 🇩🇪 🇹🇼</h4>
        {% for c in site.data.talks %} 
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="eight columns">
                {% if c.conference.link %}
                <a href="{{c.conference.link}}">{{c.conference.name}}</a>,
                {% else %}
                    {{c.conference.name}},
                {% endif %}
                    {% if c.conference.location %}{{c.conference.location}}, {%endif%}
                    {{c.conference.date | date: "%b %Y"}}</div>
          </div>
          {% for talk in c.conference.talks %} 
          <div class="row">
            <div class="one column" style="margin-left: 6%; width: 11%; margin-right: -2%">{{talk.type | default: "Talk"}}</div>
            <div class="six columns" style="width: 55%">
                {% if talk.link%}<a href="{{talk.link}}">{{talk.name}}</a>{%else%}{{talk.name}}{%endif%}</div>
            <div class="three columns">
                  {% if talk.slides %} <a href="{{talk.slides}}">Slides</a>{% endif %}
                  {% if talk.video %} <a href="{{talk.video}}">Video</a>{% endif %}
                  {% if talk.twitter %} <a href="{{talk.twitter}}">Twitter</a>{% endif %}
                  {% if talk.transcript %} <a href="{{talk.transcript}}">Transcript</a>{% endif %}
                  {% if talk.feedback %} <a href="{{talk.feedback}}">Feedback</a>{% endif %}
                  {% if talk.article %} <a href="{{talk.article}}">Article</a>{% endif %}
            </div>
          </div>
        {% endfor %}
        {% endfor %}
        <div class="row">&nbsp;</div>
        <div class="row">
        <p>
All slides are hosted on <a href="https://github.com/glasnt/talks">GitHub</a>. See also: <a href="http://pyvideo.org/speaker/katie-mclaughlin.html">pyvideo profile</a>
<br>
        <a href="https://www.flickr.com/photos/140681500@N07/27775305387/in/album-72157669873315198/">Header</a> and <a href="https://www.flickr.com/photos/140681500@N07/25783265643/in/dateposted/">footer</a> images by <a href="https://www.flickr.com/photos/140681500@N07/">Bartek Pawlik</a>, used under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>
   
    </div>
  </div>
    <div class="section intro-header" style="margin-bottom: 0; background-image: url('img/footer_image.jpg')">
    <div class="container">&nbsp; </div>
  </div>
