---
title: talks
description: in which glasnt says words
layout: default
---
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% assign talk_total = 0 %}
{% for c in site.data.talks %}
{% for t in c.conference.talks %}
{% if t.type != "Podcast" %}
{% assign talk_total = talk_total | plus: 1 %}
{% endif %}
{% endfor %}
{% endfor %}

<style>
.row div {display: inline-block}
/*
.item.counter { width: 5% }
.item.podcastcounter { width: 5% }
.item.type { width: 15% }
.item.link { width: 60% }
*/
.item.icons { float: right }

/* for mobile, do this */
@media (max-width: 700px) {
  /*
  .item.counter { width: 10%; }
  .item.podcastcounter { display: none}
  .item.link { display: block; width: 100%} */
  .item.icons { float: none; }
 
}
</style>


<article class="page container">
  <header class="page-header">
    <h1 class="page-title">Talk writeups</h1>
  </header>
  {% for item in site.writeups %}
  <li><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
  {% endfor %}

  <div class="page-content">

    <header class="page-header">
      <h1 class="page-title">Complete history of talks</h1>
    </header>
  
{% assign talk_num = talk_total %}
  {% for c in site.data.talks %}
  <div class="row">
      {% if c.conference.link %}
      <a href="{{c.conference.link}}">{{c.conference.name}}</a>,
      {% else %}
      {{c.conference.name}}
      {% endif %}

      {% if c.conference.location %}{{c.conference.location}}, {%endif%}
      {{c.conference.date | date: "%b %Y"}}

  </div>
  {% for talk in c.conference.talks %}
  <div class="row">
    {% if talk.type != "Podcast" %}
    <div class="item counter">[#{{ talk_num }}]</div>
    {% else %}
    <div class="item podcastcounter"></div>
    {% endif %}
    <div class="item type">{{talk.type | default: "Talk"}} - </div>
    {{talk.name}}
    <div class="item links">
      {% if talk.link %}<a href="{{talk.link}}">(talk info)</a>{%endif%}
      {% if talk.slides %} <a href="{{talk.slides}}">(slides)</a>{% endif %}
    </div>
    <div class="item icons">
      {% if talk.video %} <a href="{{talk.video}}"><span title="video" class="material-icons">smart_display</span></a>{% endif %}
      {% if talk.twitter %} <a href="{{talk.twitter}}"><span title="twitter" class="material-icons">post_add</span></a>{% endif %}
      {% if talk.transcript %} <a href="{{talk.transcript}}"><span title="transcript" class="material-icons">record_voice_over</span></a>{% endif %}
      {% if talk.resources %} <a href="{{talk.resources}}"><span title="resources" class="material-icons">assignment</span></a>{% endif %}
      {% if talk.feedback %} <a href="{{talk.feedback}}"><span title="feedback" class="material-icons">forum</span></a>{% endif %}
      {% if talk.article %} <a href="{{talk.article}}"><span title="article" class="material-icons">article</span></a>{% endif %}
      {% if talk.photo %} <a href="{{talk.photo}}"><span title="photo" class="material-icons">photo_library</span></a>{% endif %}
      {% if talk.type == "Podcast" %} <a href="{{talk.link}}"><span title="podcast" class="material-icons">podcasts</span></a>{% endif %}
    </div>

    {% if talk.type != "Podcast" %}
    {% assign talk_num = talk_num | minus: 1 %}
    {% endif %}
  </div>
  {% endfor %}
  <br>
  {% endfor %}
</div>

  <p>Source hosted on <a href="https://github.com/glasnt/talks">GitHub</a>.<br>
    See also: <a href="http://pyvideo.org/speaker/katie-mclaughlin.html">pyvideo profile</a>, <a
      href="https://noti.st/glasnt">notist</a>.

</div>

  </div>
</article>
