.title { font:100px 'PT Sans'; }
.author { font: 40px 'PT Sans'; }

.center { text-align: center }

footer.pagenumber { display:none}


.embed img { width: 100%; }
.main { margin-top: 150px; text-align: center}


section div { font: 72px 'PT Sans' }
se
