
section div { font: 72px 'PT Sans' }

.title  { font:100px  }
.author { font: 40px  }
.header { font: 60px}
.center { text-align: center }

footer.pagenumber { display:none}

.embed img { width: 100%; }
.main { margin-top: 150px; text-align: center}

code { font: 38px 'PT Mono' }
.point { font: 100px; text-align: center; margin-top: 100px; margin-bottom: 20px; }
.attr { font:28px 'PT Sans'; }
.octohat code { text-align: left; font-size: 48px; }
.octohat { margin-left: 30px; }
.rockstar code { font-size: 40px }
.slide footer { font: 30px 'PT Mono'; margin-bottom: 50px }
.point_large { margin-top: 50px; text-align:left ; font: 60px 'PT Sans'}
