c { color: green; font-weight:bold; }
s { color: red }
r { color: red }
h { color: blue; font-weight: bold;}
span.bfoot {position:absolute; bottom: 0px; right: 1em; font-size: 50%; color: grey !important; }
span.bfoot a { color: grey !important}
span.dasfoot { position:absolute; top: 670px; right: 1em; font-size: 50%; color: grey}
img.e { width: 40px;}
.reveal a { color: black}
