/*
 * Part 6 chapter theme
 */

section.part6 {
	background: #333366;
	color: white;
}

section.part6 h1 {
	color: white;
	text-align: center;
}

section.part6 h2 {
	color: white;
	text-align: center;
}

section.part6 h3 {
	color: white;
	font-size: 72px;
	text-align: center;
	padding: 0;
	margin: 0;
}

section.part6 p {
	color: #dddddd;
	font-size: 32px;
	font-style: italic;
	text-align: center;
}

/*
 * Black chapter theme
 */

section.black {
	background: black;
	color: white;
}

/*
 * Bubble for explanatory details about specific elements and classes used to
 * create a given slide
 */

.slide section .detail {
	position: absolute;
	right: 50px;
	bottom: 10px;
	background: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 35px;
	font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
	font-size: 16px;
	width: 400px;
}
