/*
 * Same setup as .full
 */

body.single {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	margin: 0 0 0 0;
	background: #ffffff;
	cursor: pointer;
}

/*
 * This seems to be a bit of voodoo. Setting the scale smaller makes sense
 * for thumbnails, but why does it have to be set under normal conditions?
 * On Chrome the default was -webkit-transform: none;. This changes it to
 * matrix(1, 0, 0, 1, 0, 0);
 */

body.single div.slide section {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

body.single div.slide {
	position:absolute;
	visibility: hidden;
}

body.single div.slide.active {
	visibility: visible;
}

body.single div.slide {
	width: 1024px;
	height: 768px;
}

