/*
 * glasnt theme
 * 
 * Forked from Operational Dynamics in-house presentation themedd
 *
 * Copyright © 2010-2011 Vadim Makeev
 * Copyright © 2013     Operational Dynamics Consulting, Pty Ltd
 *
 * Forked from the "ribbon" theme for the Shower presentation tool, used
 * under the MIT Open Source licence.
 */

@import url(fonts.css);
/*
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700);
*/

body {
	font:24px 'PT Sans', sans-serif;
}


h1 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #666;
	font: bold 48px/1.13 'PT Sans Narrow', sans-serif;
}
h2 {
	margin-top: 0px;
	margin-bottom: 16px;
	color: #666;
	font: bold 36px/1.13 'PT Sans Narrow', sans-serif;
}


/*
 * Finally, some general styling for visual presentation elements.
 */

section p {
	color: #666;
	margin-top: 16px;
	margin-bottom: 16px;
	line-height: 1.3;
}

section p:first-child {
	margin-top: 0px;
}

a {
	color: #0174A7;
	text-decoration: none;
}

/*
 * Quotations
 */

blockquote {
	font-style: italic;
}

/*
 * Alternating colours in a list gives at least some chance of the visual 
 * not being thunderingly boring.
 */

ol,
ul {
    margin: 0 0 45px;
    counter-reset: list;
}
ul ul,
ol ul,
ol ol,
ul ol {
    margin: 0 0 0 38px;
}
ul.alternate > li:nth-child(even) {
    color: #4e9a06;
}
ul.alternate > li:nth-child(odd) {
    color: #8f5902;
}

/*
 * Source code and fixed width
 */

kbd,
code {
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
	font-size: 20px;
}

pre {
	margin-top: 10px;
	margin-bottom: 20px;
}

pre code {
	display: inline;
	background: none;
	white-space: pre;
	background-color: white;
	padding-top: 0px;
	padding-bottom: 1em;
	padding-left: 0px;
	font-size: 22px;
}

/*
 * After I've given a live presentation, I tend to go back and add comment
 * slides with some notes about what I might have been talking about during
 * various sequences. This <section> class takes the slide to a different
 * background colour to differentiate them visually. You can use the same
 * technique to apply a different theme for different sections of a talk.
 */

.slide section.comment {
	background-image: url("comment-stripe.png");
	background-repeat: repeat-y;
	background-size: 60px;
	background-color: #d3d7cf;
}

.watermark { 
	color: rgba(211,211,211,0.44);
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        z-index: -1;
}
.watermark i { 
	font-size: 500px;
}
.four { 
	background: red;
}  
.four .h1 { 
	font: 128px 'Mission Script', sans;
	width: 75%;
	padding-left: 10%;
	padding-top: 10%
}
