/*
 * glasnt theme
 * 
 * Forked from Operational Dynamics in-house presentation themedd
 *
 * Copyright © 2010-2011 Vadim Makeev
 * Copyright © 2013     Operational Dynamics Consulting, Pty Ltd
 *
 * Forked from the "ribbon" theme for the Shower presentation tool, used
 * under the MIT Open Source licence.
 */

@import url(fonts.css);
/*
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700);
*/

body {
	font:24px 'PT Sans', sans-serif;
}


h1 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #666;
	font: bold 48px/1.13 'PT Sans Narrow', sans-serif;
}
h2 {
	margin-top: 0px;
	margin-bottom: 16px;
	color: #666;
	font: bold 36px/1.13 'PT Sans Narrow', sans-serif;
}


/*
 * Finally, some general styling for visual presentation elements.
 */

section p {
	color: #666;
	margin-top: 16px;
	margin-bottom: 16px;
	line-height: 1.3;
}

section p:first-child {
	margin-top: 0px;
}

a {
	color: #0174A7;
	text-decoration: none;
}

/*
 * Quotations
 */

blockquote {
	font-style: italic;
}
/*
 * Alternating colours in a list gives at least some chance of the visual 
 * not being thunderingly boring.
 */

ol,
ul {
    margin: 0 0 45px;
    counter-reset: list;
}
ul ul,
ol ul,
ol ol,
ul ol {
    margin: 0 0 0 38px;
}
ul.alternate > li:nth-child(even) {
    color: #4e9a06;
}
ul.alternate > li:nth-child(odd) {
    color: #8f5902;
}

/*
 * Source code and fixed width
 */

kbd,
code {
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: 'PT Monospace', 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
	font-size: 20px;
}

pre code {
	display: inline;
	background: none;
	white-space: pre;
	background-color: white;
	padding-top: 0px;
	padding-bottom: 1em;
	padding-left: 0px;
	font-size: 22px;
}

.image-inlay { 
	position: absolute;
	right: 20px;
	left: 20px;
	z-index: -100;
	width: 850px;
	height: 600px;
}

.image-inlay:not(.height) img { 
	width: 100%; 
}

.keyboard { 
	background: rgb(240,240,240);
	padding: 20px;
	color: black;
	font-size: 48px;
	border-radius: 10px;
	position:absolute;
	top: 500px;
	right: 180px;
} 
.quarter { 
	position:absolute;
	left: 25%;
	top: 25%;
}
.code {
	padding-top: 20px;
	position: absolute;
	left: 20px;

	font-size: 30px;
} 
.rhino { 
position: absolute; left: 150px; bottom: 50px;
} 
.url {
	font-family: monospace;
	font-size: 30px;
} 
 .p { color: #f0dfaf}

.p1 { background-color: #7f9f7f}
.p2 { background-color: #808080}
.p3 { background-color: #cc9393 }



.title {
	text-align: right; 
	color: white;
	text-shadow: 6px 6px 0.1em #aaaaaa;
	font:128px 'Mission Script'
}
.title_alt { 
  color: black; padding-top: 25%; text-align: center;
	font-weight: bold;
  font: 150px;
}

.text {
        position: absolute;
        bottom: 100px;
        font: 48px 'PT Sans Narrow';
        z-index: 1;
        color: #fff;
        text-shadow: 3px 3px 0.1em black;
        display:inline-block;
        line-height: 0px;
}
footer.pagenumber { display:none}

comment { color: green; font-weight: bold;}



.default { text-align: center; padding-top: 20% }

.embiggen pre b { 
  color: lightgreen;
} 

.embiggen pre { font-size: 60px;text-align: left; margin-top:0px; margin-left: -10px}
.embiggen {font-style:normal; font-size: 100px; }
.embiggen2 { font-style:normal; font-size: 80px; margin-top: -50px }
.embiggen2 pre { font-size: 50px;text-align: left; }
pre del { 
  color: red;
  text-decoration: line-through;
  font-weight: bold;

} 
highlight {font-weight: bold; color: yellow; } 
.tweet { font-weight: normal; font-size: 60px; display:block; padding-top: 100px;} 

.tweet .avatar { display:inline; float: left; padding: 10px 10px 30px 10px }
.tweet .avatar img { height: 100px; }

.tweet .handle { color: #55acee;  display:block; font-size: 40px; }

.tweet .name { display: inline-block; font-weight: bold }
.tweet .date { display: none; font-size: 30px; color: #ddd }

.tweet .content { font-size: 60px; padding-top: 50px; padding-bottom: 50px  }
