span.n { 
	display: block;
	padding: 5px
} 

span.X { display:block; font-weight: bold; padding: 5px;color: orange }
span.Y { display:block; font-weight: bold; padding: 5px;color: aqua }
span.Z { display:block; font-weight: bold; padding: 5px;color: lightgreen }
span.C { display:block; font-weight: bold; padding: 5px;color: red }
span.C::before { content: "*" }
span.Z::before { content: "*" }
span.Y::before { content: "*" }
span.X::before { content: "*" }

span.dasfoot { position:absolute; top: 670px; right: 1em; font-size: 75% }
span.dasfootc { position:absolute; top: 470px; right: 1em; font-size: 75% }
