<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{site.baseurl }}/css/normalize.css" />
  <link rel="stylesheet" href="{{site.baseurl }}/css/skeleton.css" />
  <link rel="stylesheet" href="{{site.baseurl }}/css/digital_style.css" />
  <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" />
</head>
<body>
  <div class="section intro-header" style="background-image: url('{{site.baseurl}}/img/header_image.jpg')">
    <div class="container">
      <h1 class="section-heading">{{page.title}}</h1>
    </div>
  </div>
  {{ content }} 
<title>glasnt</title>
</body>
