/*
 * Default slide theming, and machinery for full screen.
 *
 * Copyright © 2010-2011 Vadim Makeev
 * Copyright © 2012-2013 Operational Dynamics Consulting, Pty Ltd
 *
 * Forked from the "ribbon" theme for the Shower presentation tool, used
 * under the MIT Open Source licence.
 */

/*
 * Footnotes and page number. Links (to references) in footnotes are kept
 * subtle, but inline with the page number.
 */

.slide footer {
	position: absolute;
	bottom: 15px;
	left: 80px;
	font-size: 18px;
	color: #777777;
	max-width: 864px;
}

.slide footer.pagenumber {
	left: inherit;
	right: 17px;
}

div.slide section.nopage footer.pagenumber {
    display: none;
}

.slide footer a {
	color: #777777;
}

/*
 * Regretably, Shower's incredibly cool trick of using the :target pseudo
 * element doesn't work when the DOM is populated asynchronously. So we 
 * dynamically add and remove the "active" class to the slide instead. Same
 * result.
 */

body.full div.slide {
	position: absolute;
	visibility: hidden;
}

body.full div.slide.active {
	visibility: visible;
}


/*
 * Set up the body to be a single non-scrolling page.
 */

body.full {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -384px 0 0 -512px;
	width: 1024px;
	height: 768px;
	background: #000000;
}

.full div.slide {
	width: 1024px;
	height: 768px;
}


/*
 * This seems to be a bit of voodoo. Setting the scale smaller makes sense
 * for thumbnails, but why does it have to be set under normal conditions?
 * On Chrome the default was -webkit-transform: none;. This changes it to
 * matrix(1, 0, 0, 1, 0, 0);
 */

.full .slide section {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

