/*
 * glasnt theme
 * 
 * Forked from Operational Dynamics in-house presentation themedd
 *
 * Copyright © 2010-2011 Vadim Makeev
 * Copyright © 2013     Operational Dynamics Consulting, Pty Ltd
 *
 * Forked from the "ribbon" theme for the Shower presentation tool, used
 * under the MIT Open Source licence.
 */

@import url(fonts.css);
/*
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700);
*/

body {
	font:24px 'PT Sans', sans-serif;
}


h1 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #666;
	font: bold 48px/1.13 'PT Sans Narrow', sans-serif;
}
h2 {
	margin-top: 0px;
	margin-bottom: 16px;
	color: #666;
	font: bold 36px/1.13 'PT Sans Narrow', sans-serif;
}


/*
 * Finally, some general styling for visual presentation elements.
 */

section p {
	color: #666;
	margin-top: 16px;
	margin-bottom: 16px;
	line-height: 1.3;
}

section p:first-child {
	margin-top: 0px;
}

a {
	color: #0174A7;
	text-decoration: none;
}

/*
 * Quotations
 */

blockquote {
	font-style: italic;
}
/*
 * Alternating colours in a list gives at least some chance of the visual 
 * not being thunderingly boring.
 */

ol,
ul {
    margin: 0 0 45px;
    counter-reset: list;
}
ul ul,
ol ul,
ol ol,
ul ol {
    margin: 0 0 0 38px;
}
ul.alternate > li:nth-child(even) {
    color: #4e9a06;
}
ul.alternate > li:nth-child(odd) {
    color: #8f5902;
}

/*
 * Source code and fixed width
 */

kbd,
code {
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: 'PT Monospace', 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
	font-size: 20px;
}

pre {
	margin-top: 10px;
	margin-bottom: 20px;
}

pre code {
	display: inline;
	background: none;
	white-space: pre;
	background-color: white;
	padding-top: 0px;
	padding-bottom: 1em;
	padding-left: 0px;
	font-size: 22px;
}

/*
 * After I've given a live presentation, I tend to go back and add comment
 * slides with some notes about what I might have been talking about during
 * various sequences. This <section> class takes the slide to a different
 * background colour to differentiate them visually. You can use the same
 * technique to apply a different theme for different sections of a talk.
 */

.slide section.comment {
	background-image: url("comment-stripe.png");
	background-repeat: repeat-y;
	background-size: 60px;
	background-color: #d3d7cf;
}

.watermark { 
	color: rgba(211,211,211,0.44);
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        z-index: -1;
}
.watermark i { 
	float:right;
	padding-right: 10%;
	padding-bottom: 10%;
	font-size: 500px;
}
.four { 
	background: red;
}  
.four .h1 { 
	font: 120px 'Mission Script', sans;
	width: 75%;
	padding-left: 10%;
	padding-top: 10%
}
.header { 
	font: 64px 'Mission Script', sans;
	padding-bottom: 20px;
	margin-left: -50px;

}


.twotwoby { 
	font-size: 84px;
	position:absolute;
	right: 0px;
	top: 100px;
	color: #fff
	align: center;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
} 
.twotwoby i { 
/*	display:block; */
	padding: 20px
	float: right
}


.twotwoby .label { 
	right: 0px;
	display:block; 
} 

.fourby { 
	font-size: 84px;
	position:absolute;
	right: 0px;
	top: 100px;
	color: #555;
	align: center;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
} 
.fourby i { 
	display:block;
	padding: 20px
}
.fourby .four-active { 
	color: #fff
}
.image-inlay .height img { 
	height: 100%;
}
.image-inlay { 
	position: absolute;
	right: 20px;
	left: 20px;
	z-index: -100;
	width: 850px;
	height: 600px;
}

.image-inlay:not(.height) img { 
	width: 100%; 
}

.keyboard { 
	background: rgb(240,240,240);
	padding: 20px;
	color: black;
	font-size: 48px;
	border-radius: 10px;
	position:absolute;
	top: 500px;
	right: 180px;
} 
.quarter { 
	position:absolute;
	left: 25%;
	top: 25%;
}
.code {
	padding-top: 20px;
	position: absolute;
	left: 20px;

	font-size: 30px;
} 
.rhino { 
position: absolute; left: 150px; bottom: 50px;
} 
.url {
	font-family: monospace;
	font-size: 30px;
} 
 .comment { color: #7f9f7f }
 .p { color: #f0dfaf}

.p1 { background-color: #7f9f7f}
.p2 { background-color: #808080}
.p3 { background-color: #cc9393 }



.title {
	text-align: right; 
	color: white;
	text-shadow: 6px 6px 0.1em #aaaaaa;
	font:128px 'Mission Script'
}
.title_alt { 
  color: white; padding-top: 25%; text-align: center;
	font-weight: bold;
  font: 150px;
}

.text {
        position: absolute;
        bottom: 100px;
        font: 48px 'PT Sans Narrow';
        z-index: 1;
        color: #fff;
        text-shadow: 3px 3px 0.1em black;
        display:inline-block;
        line-height: 0px;
}
footer.pagenumber { display:none}

comment { color: green; font-weight: bold; }


.embiggen { color: white; font-style:normal; font-size: 80px; }

.default { text-align: center; padding-top: 20% }

.embiggen pre b { 
  color: lightgreen;
} 
.embiggen pre {  
  padding-top: 50px;
  font-size: 60px;
	text-align: left; 
}
.embiggen pre del { 
  color: red;
  text-decoration: line-through;

} 
.embiggen pre.c { 
        text-align: center; padding-left: auto;
}


.tweet { font-weight: normal; color: white; font-size: 60px; display:block; padding-top: 100px;} 

.tweet .avatar { display:inline; float: left; padding: 30px 30px 30px 10px }
.tweet .avatar img { height: 100px; }

.tweet .handle { color: #55acee; font-weight: bold; display:block; font-size: 40px; }

.tweet .name { display: inline-block }
.tweet .date { display: none; font-size: 30px; color: #ddd }

.tweet .content { font-size: 50px; padding-top: 50px; padding-bottom: 50px  }


pre g { color: grey; }
